<!DOCTYPE html>
<html>
<head>
	<title> Flexi Lunch</title>
	<link rel = "stylesheet" href = "{{ url_for('static', filename = 'css/home1.css') }}">
	<style>
            body {
                background-image: url("static/food_background.jpg");
                background-size : cover;
                background-repeat: no-repeat;
            }
    </style>
</head>
<body>

<h1>~~~Flexi-Lunch Restaurant Recommender~~~</h1>
<p>Insert your favorite restaurant and get fantastic recommendations!

<div>
<form action = "/recommendation" method = "POST">

	<label>Favorite Restaurant Name</label>
	<input type = "text" name = "title">
	<br>
    <input type="submit" value="Submit">

</form>
</div>

</body>
</html>   