<!DOCTYPE html>

<head>
        <html lang="en" dir="ltr">
        <meta charset="utf-8">
        <title>Recommendations</title>
        <style type="text/css">    
          body {
                background-image: url("static/food_background.jpg");
                background-size : cover;
                background-repeat: no-repeat;
                padding: 0px;
            }
          /*{
            border: 2px solid black;
            padding: 0px;
            background-color: lightblue;
            } */
        </style>  
    </head>

   <body>
       <h2> <font color="midnightblue"><strong>Here are top 10 restaurants that are good alternatives:</strong></font></h2>
            <p>{{ table }}</p>
   </body>
</html>